/**< Selector de Etiqueta HTML */
header {
    background-color: #253A46;
    padding: 15px 10px 10px 5px;
    background-image: url('../images/novocap.png');
    background-position-x: 10px;
    background-position-y: 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    height: 20px;
}

body {
    background: whitesmoke;
    font-family: 'Ubuntu', cursive;
    margin: 0px;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 38px;
    color: rgb(118, 185, 18);
    line-height: 0.9;
    font-weight: 400;
    padding: 5px;
    padding-right: 280px;
    margin: 0px;
}

h1 strong {
    color: blueviolet;
}

/**< Selector de Atributo:class */
.link {
    color: white;
    text-decoration: none;
}

.menu-list {
    display: inline;
    padding-left: 35px;
    text-overflow: clip;
}

.menu-container {
    margin: 0px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
    color: whitesmoke;    
}

.hero {
    background-image: url('../images/hero.png');
    background-color: rgb(70, 70, 70);
    height: 260px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    padding-top: 10px;
}

.project {
    border: 4px solid gray;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    background-color: lightcyan;
    display: inline-flex;
    height: 200px;
    max-width: 500px;
}

.project-image {
    height: 185px;
}

/**<  Selector de Atributo:id */
#portfolio {
    color: darkslategrey;
    background-color: rgb(200, 200, 200);
    padding: 5px;
}

.portfolio-header {
    padding-left: 10px;
}

.experience-header {
    margin: 5px 0px 0px 5px;
    text-transform: capitalize;
}

.experience {
    margin: 0px 0px 0px 5px;
}

.contact {
    margin: 0px 0px 0px 5px;
}

.footer {
    margin: 0px 0px 0px 5px;
    display: none;
}