/**< Selector de Etiqueta HTML */
header {
    background: palevioletred !important;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

body {
    background: whitesmoke;
    font-family: 'Ubuntu', cursive;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    color: darkslategray;
    line-height: 0.95;
    font-weight: 200;
}

/**< Selector de Atributo:class */
.link {
    color: white;
    text-decoration: none;
}

/**<  Selector de Atributo:id */
#portfolio {
    background: grey;
    color: white;
}

.menu-list {
    display: inline-block;
}